.activeRoute {
  font-weight: bold;
  text-decoration: underline;
}
.savedWisdoms {
    margin-top: 4em;
    color: red;
    > ul {
        padding: 0;
        list-style: none;
        font-style: italic;
    }
}
.btnHspace {
    margin-left: 10px;
}