.main-panel-inner-half {
	width: 100%;
}
.main-panel-padding {
	padding: 30px;
}
.main-panel {
	font-size: 18px;
}

.panel--no-border {
	border: 0;
}
.panel-title {
	padding: 18px 0 30px;
}

no-margin-padding {
	margin: 0;
	padding: 0;
}

.space-4 {
	margin-bottom: 24px;
}
.space-top-4 {
	margin-top: 24px;
}